body.signin-body{
    background-color: #E6F2FF;
}
.container.signin-container{
    margin-top: 8%;
}
.card.signin-card{
    padding: 40px 0px 20px;
    background-color: #F4F4F4;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}