body.signin-body{
    background-color: #E6F2FF;
}
.container.signin-container{
    margin-top: 8%;
}
.card.signin-card{
    padding: 40px 0px 20px;
    background-color: #F4F4F4;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
img.signin-img{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 30%;
}
form.signin-form{
    max-width: 350px;
    margin: auto;
}
button.signin-btn{
    color: white;
    background-color: #d64829;
    width: 100%;
    margin-bottom: 1.2rem;
}
label.form-check-label{
    cursor: pointer;
}
a.create-new-account{
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-top: 10px;
}